<h1>Welcome to Sputnik</h1>

<% if customer_signed_in? %>
  <p>Welcome, <%= current_customer.email %>!</p>
  <%= link_to 'Logout', destroy_customer_session_path, method: :delete %>
<% else %>
  <%= link_to 'Sign Up', new_customer_registration_path %> or 
  <%= link_to 'Login', new_customer_session_path %>
<% end %>
